.detailproxona_container {
	margin: auto;
	text-align: center;
	border: 1px solid white;
	background-color: black;
	border-radius: 8px;
	width: auto;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}
.btn_persona {
	flex: 0 0 10px;
}
