.persona_wrapper {
	position: relative;
	overflow: scroll;
}

.persona_container {
	position: absolute;

	display: flex;
	flex-direction: column;
}

.persona-col {
}

.persona_board {
	padding: 1%;
	/* align-self: flex-end; */
	display: flex;
	flex-direction: row;
	width: inherit;
}

.signup_container {
	text-align: center;
	margin-top: 200px;
	justify-content: center;
	align-items: center;
}
.signup_container h2 {
	font-weight: 700;
}

a.more_button {
	align-self: flex-start;
}

.active {
}

.inactive {
	text-decoration: none;
	pointer-events: none;
	cursor: not-allowed !important;
	background-color: black;
}
