.form_container {
	padding: 2rem;
}

.form_container input[type="text"] {
	/* border-width: 0 0 1px; */
	border-color: gray;
	padding: 0.3rem 0.9rem;
	border-radius: 50px;
	margin-right: 0.5rem;
}

.form_container input[type="text"]:focus {
	outline: none;
}

.form_container input[type="submit"] {
	background-color: #da8dec;
	border-radius: 10px;
	padding: 0.3rem 0.9rem;
	cursor: pointer;
	border: none;
	width: 80px;
	color: white;
}
