.persona-container {
	position: relative;
	height: 100%;
}

.persona-container-box {
	position: absolute;
	overflow: scroll;
}

.persona-col {
	/* display: flex;
	flex-direction: row-reverse; */
}

.persona_board {
	padding: 2%;
	align-self: flex-end;
}

.signup_container {
	text-align: center;
	margin-top: 200px;
}
.signup_container h2 {
	font-weight: 700;
}

.signup_container p {
}

button.more_button {
	align-self: flex-end;
}
