.chat-container {
	position: relative;
	height: 100%;
	display: flex;
}

.chat-container-box {
	position: absolute;
	overflow: scroll;
	height: 84%;
	padding-right: 3rem;
}

.chat-wrapper {
	display: flex;
	flex-flow: column wrap;
}

.chat-info {
	display: flex;
	justify-content: flex-end;
	padding-right: 0;
}

.chat-message {
	display: flex;
	height: 100%;
	min-height: 0;
	align-items: stretch;
}

.chat-message p {
	padding: 10px 12px;
	background-color: #24292f;
	border-radius: 10px;
}

.input-container {
	position: fixed;
	bottom: 0;
	padding: 1rem 0.3rem 2rem 0.3rem;
	margin: auto;
}

.input-container input {
	width: 80%;
	text-align: center;
	border-width: 0 0 1px;
	border-color: #ddd;
	border-radius: 50px;
	font-size: 0.8rem;
	box-sizing: border-box;
	padding: 12px 20px;
}

.input-container input:focus {
	outline: none;
}

.input-container button {
	background-color: #6d53d3;
	border: none;
	color: white;
	margin: 0 0 0 0.5rem;
}

.example-questions {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 35%;
}
/* 
.example-questions button {
	display: block;
	margin: 0.5rem 0;
	border-color: #ddd;
} */

.bot {
	margin-left: 10px;
	justify-content: flex-end;
}

.bot-face {
	font-size: 1.7em;
	margin-left: 10px;
}
