.chat-container {
}

.input-container {
	position: absolute;
	bottom: 0;
	width: 50%;
	padding: 1em;
	margin: auto;
}

.input-container input {
	width: 70%;
}

.input-container button {
	width: 20%;
}
